<a href="https://colab.research.google.com/github/rooftopmunda/iNeuron-assignments/blob/main/Assignment__2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#1.What are the two values of the Boolean data type? How do you write them?

The 2 values of Boolean data type are:
True and False
x = True
y = False
They are case sensitive.
It is represented as True() and False()
The same concept is true when using the 'in' function. It returns a value either "True" or "False" based on the condition.

#2. What are the three different types of Boolean operators?

The 3 types of Boolean operator are "and" "or" "not"

and operator: It return the value as true if both the statements are true.
or operator: It returns the value as true if on of the statements is true.
not operator: It reverses the result.

In [ ]:
#Example

x = 5
y = 6

#And
x < y and y > x

#OR

x > y or y > x

#Not

not( x<y and y>x)

False

#3. Make a list of each Boolean operator's truth tables (i.e. every possible combination of Boolean values for the operator and what it evaluate).

Click this link to see the truth table made on google sheets
[Truth Table](https://t.ly/RVAP)

#4. What are the values of the following expressions?
(5 > 4) and (3 == 5)
not (5 > 4)
(5 > 4) or (3 == 5)
not ((5 > 4) or (3 == 5))
(True and True) and (True == False)
(not False) or (not True)

In [ ]:
( 5 > 4 ) and ( 3 == 5)

False

In [ ]:
not (5 > 4)

False

In [ ]:
(5 > 4) or (3 == 5)

True

In [ ]:
not ((5 > 4) or (3 == 5))

False

In [ ]:
(True and True) and (True == False)

False

In [ ]:
(not False) or (not True)

True

#5. What are the six comparison operators?

In [ ]:
#The 6 comparison operators are as follows:
#These comparison operators return a Boolean value (True or False) based on the evaluation
'''
> - Greater than
< - less than
== - Is equal to
>= - Greater than or equal to
<= - Less than or equal to
!= - not equal to
'''

#6. How do you tell the difference between the equal to and assignment operators?Describe a condition and when you would use one.

The difference between the equal to and assignment operator is as follows:

== operator : It evaluates if the given value is exactly equal to the other value. (It compares both the values)

=  assignment operator: It assigns a value to a given variable.

Example:

a = 10
b = 10

if a == b:
   print("OK")
The output will be OK if the comparison condition is met.

The variables a and b are assigned a value by using the = sign.

#7. Identify the three blocks in this code:

In [ ]:
spam = 0
if spam == 10:
print('eggs')
if spam > 5:
print('bacon')
else:
print('ham')
print('spam')
print('spam')

IndentationError: expected an indented block after 'if' statement on line 2 (2373325787.py, line 3)

In [ ]:
#correction : Indentation is missing from the code, Indentation is very important to group
#blocks of code together, else python wouldn't understand which function to execute with which block of code.
#There are 5 print statements, hence to correctly execute the code, it has to be indented properly.
spam = 0
if spam == 10:
    print('eggs')
if spam > 5:
    print('bacon')
else:
    print('ham')
    print('spam')
    print('spam')

ham
spam
spam

#8. Write code that prints Hello if 1 is stored in spam, prints Howdy if 2 is stored in spam, and prints Greetings! if anything else is stored in spam.

In [ ]:
spam = int(input("Type a value to be assigned to spam: "))

if spam == 1:
    print("Hello")
elif spam == 2:
    print("Howdy")
else:
    print("Greetings!")

Type a value to be assigned to spam: 3
Greetings!

#9.If your programme is stuck in an endless loop, what keys youâ€™ll press?

If your program is stuck in an endless loop and you want to stop its execution, you can use the following key combination to forcefully terminate the program:

On Windows/Linux:
Press Ctrl + C

On Mac:
Press Command + C

This is often referred to as a "keyboard interrupt" or "Ctrl-C interrupt."

#10. How can you tell the difference between break and continue?

'break' terminates the loop entirely and continues with the next statement after the loop.


'continue' skips the rest of the current iteration and jumps to the next iteration of the loop.

In [3]:
for i in range(1 , 10):
    if i == 7:
        break
    print(i)

1
2
3
4
5
6

In [8]:
for x in range(1 , 23):
  if x == 17:
    continue
  print(x)

1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
18
19
20
21
22

#11. In a for loop, what is the difference between range(10), range(0, 10), and range(0, 10, 1)?

In [9]:
for n in range(10):
  print(n)

0
1
2
3
4
5
6
7
8
9

In the above statement, the for loop prints number from 0 to (n-1) since the start is not mentioned under the range function, it will start from 0 and will print results until (n-1)

In [10]:
for x in range (0 , 10):
  print(x)

0
1
2
3
4
5
6
7
8
9

In the statement above, the loop will print the values again from 0-9 , however, this time the start of the range is given.

In [11]:
for y in range(0 , 10 , 1):
  print(y)

0
1
2
3
4
5
6
7
8
9

In the statement above, the start, stop and set is given, since the set is 1 by default it will print the nunbers in the range normally. Else it will give the difference b/w the consecutive numbers as per the set.

#12. Write a short program that prints the numbers 1 to 10 using a for loop. Then write an equivalent program that prints the numbers 1 to 10 using a while loop.

In [17]:
#For loop:
for n in range(1, 11):
  print(n)

1
2
3
4
5
6
7
8
9
10

In [18]:
#While Loop
i = 1
while i <= 10:
    print(i)
    i += 1

1
2
3
4
5
6
7
8
9
10

#13. If you had a function named bacon() inside a module named spam, how would you call it after importing spam?

In [ ]:
import spam

spam.bacon()

The spam module is imported using the import statement. After importing, you can access the bacon() function using the dot notation spam.bacon(), where spam is the module name and bacon is the function name.